INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
m4/
libugpio.pc
ugpio-version.h
.deps
.libs
*.la
*.lo
stamp-h1
*.o
*~
doc/*.html
doc/*.3
doc/*.7
tests/gpioctl
